<%= render 'layouts/sidebar_menu' %>
       <div id="page-wrapper">
           <div class="row">
               <div class="col-lg-12" align="center">
                   <h3 class="page-header">Latest Metrics</h3>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <!-- /.row -->
           <div class="row">
               <div class="col-lg-12">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                        List shows latest measures per device
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-hover table-bordered table-striped">
                                   <thead>
                                       <tr>
                                           <!-- <th>Device Id</th> -->
                                           <th>Device Name</th>
                                           <th>Type of Measure</th>
                                           <th>Measure Value</th>
                                           <th>Last Updated</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                     <% Device.all.each do |dev| %>
                                       <% dev.measures.each do |measure| %>
                                         <% @data = @user.measurements.where(:device_id => dev.id, :measure_id => measure.id).order(:created_at => "desc").pluck(:created_at, :measure_value).first %>
                                         <tr>
                                           <!-- <td><%=dev.id%></tb>-->
                                           <td><%=dev.name%></tb>
                                           <td><%=measure.name%></td>
                                           <%if @data.nil? %>
                                             <td>no data</td>
                                             <td>no data</td>
                                          <%else%>
                                           <td><%=@data[1]%></td>
                                           <td><%=@data[0]%></td>
                                          <%end%>
                                          </tr>
                                        <% end %>
                                     <% end %>
                                   </tbody>
                               </table>
                           </div>
                           <!-- /.table-responsive -->
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
             </div>
           <!-- /.row -->
           <!-- /.row -->
           <div class="row">
               <div class="col-lg-12"  align="center">
                   <h3 class="page-header">Age/ΒΜΙ/Body % Fat Calculation:</h3>  
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <div class="row">
               <div class="col-lg-12">
                 <div class="panel panel-default">
                       <div class="panel-heading"  align="center">
                           <b>Calculation using Device: <%=@device_name %></b>
                       </div>
                       <div class="panel-body">


              <div class="row">

                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <div class="well well-sm" align="center">
                        <h3>Your current age(years):</h3>
                        <p><h3><%=number_with_precision(@current_age,precision: 2)%></h3></p>
                    </div>
                </div>
                <% if !@sex.nil? %>
                  <div class="col-lg-4">
                    <div class="well well-sm" align="center">
                        <h3>Your current BMI:</h3>
                        <p><h3><%=number_with_precision(@bmi, precision: 2)%></h3></p>
                    </div>
                  </div>
                  <div class="col-lg-4">				
                    <div class="well well-sm" align="center">
                        <h3>Your current Body Fat %:</h4>
                        <p><h3><%=number_with_precision(@body_fat, precision: 2)%></h3></p>
						<div class="alert alert-info fade in">
                          <a href="javascript:void(null)" class="close" data-dismiss="alert">&times;</a>
                          <strong>Body Fat Calculation based on British Journal of Nutrition (1991), 65, 105-114 105: "Body mass index as a measure of body fatness: 
						  age and sex  specific prediction formulas BY PAUL DEURENBERG, JAN A. WESTSTRATE* AND JAAP C. SEIDELL"</strong>
			            </div>
                    </div>
                  </div>
                  <%elsif @sex.nil? %>
                    <div class="col-lg-4">
                      <div class="well well-sm" align="center">
                        <div class="offset3">
                          <h3>Your current BMI:</h3>
                      </div>
                        <p><h3><%=@error_message %></h3></p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="well well-sm" align="center">
                        <h3>Your current Body Fat%:</h3>
                        <p><h3><%=@error_message%></h3></p>
                      </div>
                    </div>
                  <% end %>

            </div>
            <!-- /.row -->
            <div class="panel panel-default">
                  <div class="panel-heading">
                      ΒΜΙ Table
                  </div>
                  <div class="panel-body">
                             <div class="table-responsive">
                                 <table class="table table-hover table-bordered table-striped">
                                     <thead>
                                         <tr>
                                             <!-- <th>Device Id</th> -->
                                             <th>Classification</th>
                                             <th>BMI Range</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                           <tr>
                                             <td>Under Weight</tb>
                                             <td>BMI < 18.5 </td>
                                            </tr>
                                            <tr>
                                              <td>Normal</tb>
                                              <td>18.5 <= BMI <= 25 </td>
                                             </tr>
                                             <tr>
                                               <td>Pre Obese</tb>
                                               <td>25 <= BMI <= 30</td>
                                              </tr>
                                              <tr>
                                                <td>Obese Class I</tb>
                                                <td>30 <= BMI <= 35</td>
                                               </tr>
                                               <td>Obese Class II</tb>
                                               <td>35 <= BMI <= 40 </td>
                                              </tr>
                                              <td>Obese Class III (Severely obese)</tb>
                                              <td> BMI >= 40 </td>
                                             </tr>
                                     </tbody>
                                 </table>
                             </div>
                           </div>
                         </div>

                         <div class="panel panel-default">
                               <div class="panel-heading">
                                   Body % Fat Table
                               </div>
                               <div class="panel-body">
                             <div class="table-responsive">
                                 <table class="table table-hover table-bordered table-striped">
                                     <thead>
                                         <tr>
                                             <!-- <th>Device Id</th> -->
                                             <th>Description</th>
                                             <th>Women</th>
                                             <th>Men</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                           <tr>
                                             <td>Essential Fat%</tb>
                                             <td>10–13%  </td>
                                             <td>2–5%  </td>
                                            </tr>
                                            <tr>
                                              <td>Athletes</tb>
                                              <td>14–20% </td>
                                              <td>6–13% </td>
                                             </tr>
                                             <tr>
                                               <td>Fitness</tb>
                                               <td>	21–24% </td>
                                               <td>	14–17%</td>
                                              </tr>
                                              <tr>
                                                <td>Average</tb>
                                                <td>25–31% </td>
                                                <td>18–24%</td>
                                               </tr>
                                               <td>Obese</tb>
                                               <td>	32%+ </td>
                                               <td>	25%+ </td>
                                              </tr>
                                             </tr>
                                     </tbody>
                                 </table>
                             </div>
                           </div>
                         </div>

                           </p>
                       </div>
                   </div>
               </div>
       </div>
       <!-- /#page-wrapper -->
</div>
