<div id="wrapper">
       <!-- Navigation -->
       <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <%= link_to "Eltab Project", root_path, {:class => "navbar-brand"} %>
           </div>
           <!-- /.navbar-header -->
           <%= render 'layouts/header_with_menu' %>
           <%= render 'layouts/sidebar_menu' %>
           <!-- /.navbar-top-links -->
           <!-- /.navbar-static-side -->
       </nav>

       <div id="page-wrapper">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="page-header">Latest Metrics</h1>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <!-- /.row -->
           <div class="row">
               <div class="col-lg-12">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                        List shows latest measures per device
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-hover">
                                   <thead>
                                       <tr>
                                           <!-- <th>Device Id</th> -->
                                           <th>Device Name</th>
                                           <th>Type of Measure</th>
                                           <th>Measure Value</th>
                                           <th>Last Updated</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                     <% Device.all.each do |dev| %>
                                       <% dev.measures.each do |measure| %>
                                         <% @data = @user.measurements.where(:device_id => dev.id, :measure_id => measure.id).order(:created_at => "desc").pluck(:created_at, :measure_value).first %>
                                         <tr>
                                           <!-- <td><%=dev.id%></tb>-->
                                           <td><%=dev.name%></tb>
                                           <td><%=measure.name%></td>
                                           <%if @data.nil? %>
                                             <td>no data</td>
                                             <td>no data</td>
                                          <%else%>
                                           <td><%=@data[1]%></td>
                                           <td><%=@data[0]%></td>
                                          <%end%>
                                          </tr>
                                        <% end %>
                                     <% end %>
                                   </tbody>
                               </table>
                           </div>
                           <!-- /.table-responsive -->
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
             </div>
           <!-- /.row -->
           <!-- /.row -->
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="page-header">ΒΜΙ Calculation:</h1>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <div class="row">
               <div class="col-lg-12">
                 <div class="panel panel-default">
                       <div class="panel-heading">
                           Calculation using Device: <%=@device_name %>
                       </div>
                       <div class="panel-body">
                         <h4><p>Your age is: <%=number_with_precision(@current_age,precision: 2)%></p></h4>
                           <h4><p>Your BMI is: <%=number_with_precision(@bmi, precision: 2)%></p></h4>
                             <div class="table-responsive">
                                 <table class="table table-hover">
                                     <thead>
                                         <tr>
                                             <!-- <th>Device Id</th> -->
                                             <th>Category</th>
                                             <th>BMI range – kg/m2</th>
                                             <th>BMI Prime</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                           <tr>
                                             <td>Very severely underweight</tb>
                                             <td>less than 15</td>
                                             <td>less than 0.60</td>
                                            </tr>
                                            <tr>
                                              <td>Underweight</tb>
                                              <td>from 16.0 to 18.5</td>
                                              <td>from 0.64 to 0.74</td>
                                             </tr>
                                             <tr>
                                               <td>Normal (healthy weight)</tb>
                                               <td>from 18.5 to 25</td>
                                               <td>from 0.74 to 1.0</td>
                                              </tr>
                                              <tr>
                                                <td>Overweight</tb>
                                                <td>from 25 to 30</td>
                                                <td>from 1.0 to 1.2</td>
                                               </tr>
                                               <td>Obese Class I (Moderately obese)</tb>
                                               <td>from 30 to 35</td>
                                               <td>from 1.2 to 1.4</td>
                                              </tr>
                                              <td>Obese Class II (Severely obese)</tb>
                                              <td>from 35 to 40</td>
                                              <td>	from 1.4 to 1.6</td>
                                             </tr>
                                             <td>Obese Class III (Very severely obese)</tb>
                                             <td>over 40</td>
                                             <td>over 1.6</td>
                                            </tr>
                                     </tbody>
                                 </table>
                             </div>
                           </p>
                       </div>
                       <div class="panel-footer">
                       </div>
                   </div>
               </div>
       </div>
       <!-- /#page-wrapper -->
</div>
</div>
