<%= render 'layouts/sidebar_menu' %>
       <div id="page-wrapper">
           <div class="row">
               <div class="col-lg-12">
                   <h3 class="page-header">Patient Profile for "<%=@user.username %>"</h3>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <!-- /.row -->
           <div class="row">
                       <!-- /.panel-heading -->
                    <div class="panel-body">
                         <div class="row">
                   <div class="col-lg-12">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                             Patient Profile for: <%=@user.username%>
                           </div>
                           <!-- /.panel-heading -->
                           <div class="panel-body">
                               <!-- Nav tabs -->
                               <ul class="nav nav-tabs">
                                   <li class="active"><a href="#home" data-toggle="tab">Profile</a>
                                   </li>
                                   <li><a href="#profile" data-toggle="tab">Latest Measurements</a>
                                   </li>
                                   <li><a href="#messages" data-toggle="tab">ΒΜΙ Calculation</a>
                                   </li>
                                  
                               </ul>
								<%# if_this_is_a_true_value ? then_the_result_is_this : else_it_is_this %>
                               <!-- Tab panes -->
                               <div class="tab-content">
                                   <div class="tab-pane fade in active" id="home">
                                       <p></p>								   
									   <p><b>Username: &nbsp; </b><%=@user.username %></p>
									   <p><b>Birth Date: &nbsp; </b><%= @user.birth_date %></p>
									   <p><b>Height (cm): &nbsp; </b><%= @user.height %></p>
									   <p><b>Smokes?: &nbsp; </b><%=@user.is_smoker %></p>
									   <p><b>Smoking Frequency?: &nbsp; </b><%= SmokingFrequency.find(@user.smoking_frequency_id).description %></p>
									   <p><b>Exercises?: &nbsp; </b><%=@user.exercises %></p>
									   <p><b>Family Status: &nbsp; </b>
									     <% if !@user.family_status_id.nil? %>
										   <%= FamilyStatus.find(@user.family_status_id).status %>
										 <% end %>
										</p>
                                       <p><b>Education Level: &nbsp; </b>
									     <% if !@user.education_level_id.nil? %> 
										   <%= EducationLevel.find(@user.education_level_id).description %>
										 <% end %>
									   </p>	
									   <p><b>Employment Status: &nbsp;</b>
									   <% if !@user.employment_status_id.nil? %>
									     <%= EmploymentStatus.find(@user.employment_status_id).status %>
									   <% end %>	 
										</p>
									   <p><b>Chronic Diseases: &nbsp;</b> 
								         <% for chronic_disease in ChronicDisease.all.order('description ASC') %>  
								         <% if @user.chronic_diseases.include?(chronic_disease) %>
									       <%= chronic_disease.description + " - "  %>
										 <% end %>
										 <% end %>
									   </p>
									   <p><b>Additional Info: &nbsp;</b><%=@user.additional_info %></p>
                                       <p><b>Role: &nbsp;</b><%=@user.role %></p>											   
									   
								   </div>
                                   <div class="tab-pane fade" id="profile">
                                       <h4>Latest Measurements:</h4>
                                       <div class="table-responsive">
                                           <table class="table table-hover">
                                               <thead>
                                                   <tr>
                                                       <!-- <th>Device Id</th> -->
                                                       <th>Device Name</th>
                                                       <th>Type of Measure</th>
                                                       <th>Measure Value</th>
                                                       <th>Last Updated</th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                                 <% Device.all.each do |dev| %>
                                                   <% dev.measures.each do |measure| %>
                                                     <% @data = @user.measurements.where(:device_id => dev.id, :measure_id => measure.id).order(:created_at => "desc").pluck(:created_at, :measure_value).first %>
                                                     <tr>
                                                       <!-- <td><%=dev.id%></tb>-->
                                                       <td><%=dev.name%></tb>
                                                       <td><%=measure.name%></td>
                                                       <%if @data.nil? %>
                                                         <td>no data</td>
                                                         <td>no data</td>
                                                      <%else%>
                                                       <td><%=@data[1]%></td>
                                                       <td><%=@data[0]%></td>
                                                      <%end%>
                                                      </tr>
                                                    <% end %>
                                                 <% end %>
                                               </tbody>
                                           </table>
                                       </div>

                                   </div>
                                   <div class="tab-pane fade" id="messages">
                                     <div class="row">
                                         <div class="col-lg-12" align="center">
                                             <h3 class="page-header">Age/ΒΜΙ/%Body Fat Calculation:</h3>
                                         </div>
                                         <!-- /.col-lg-12 -->
                                     </div>
                                     <div class="row">
                                         <div class="col-lg-12">
                                           <div class="panel panel-default">
                                                 <div class="panel-heading" align="center">
                                                     Calculation using Device: <%=@device_name %>
                                                 </div>
                                                 <div class="panel-body">


                                        <div class="row">

                                          <!-- /.col-lg-4 -->
                                          <div class="col-lg-4">
                                              <div class="well well-sm" align="center">
                                                  <h4>Current age(years):</h4>
                                                  <p><h3><%=number_with_precision(@current_age,precision: 2)%></h3></p>
                                              </div>
                                          </div>
                                          <% if !@sex.nil? %>
                                            <div class="col-lg-4">
                                              <div class="well well-sm" align="center">
                                                  <h4>Current BMI:</h4>
                                                  <p><h3><%=number_with_precision(@bmi, precision: 2)%></h3></p>
                                              </div>

                                            </div>
                                            <div class="col-lg-4">
                                              <div class="well well-sm" align="center">
                                                  <h4>Current Body Fat %:</h4>
                                                  <p><h3><%=number_with_precision(@body_fat, precision: 2)%></h3></p>
                                              </div>
                                            </div>
                                            <%elsif @sex.nil? %>
                                              <div class="col-lg-4">
                                                <div class="well well-sm" align="center">
                                                  <h4>Current BMI:</h4>
                                                  <p><h3><%=@error_message %></h3></p>
                                                </div>
                                              </div>
                                              <div class="col-lg-4">
                                                <div class="well well-sm" align="center">
                                                  <h4>Current Body Fat %:</h4>
                                                  <p><h3><%=@error_message%></h3></p>
                                                </div>
                                              </div>
                                            <% end %>

                                      </div>
                                   </div>
                                
                               </div>
                           </div>
                           <!-- /.panel-body -->
                       </div>
                       <!-- /.panel -->
                   </div>
                 </div>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
</div>
</div>
</div>
</div>
</div>
