<%= render 'layouts/sidebar_menu' %>
       <div id="page-wrapper">
           <div class="row">
               <div class="col-lg-12">
                   <h3 class="page-header">Patient Profile for "<%=@user.username %>"</h3>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <!-- /.row -->
           <div class="row">
                       <!-- /.panel-heading -->
                    <div class="panel-body">
                         <div class="row">
                   <div class="col-lg-12">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                             Patient Profile for: <%=@user.username%>
                           </div>
                           <!-- /.panel-heading -->
                           <div class="panel-body">
                               <!-- Nav tabs -->
                               <ul class="nav nav-tabs">
                                   <li class="active"><a href="#home" data-toggle="tab">Profile</a>
                                   </li>
                                   <li><a href="#profile" data-toggle="tab">Latest Measurements</a>
                                   </li>
                                   <li><a href="#messages" data-toggle="tab">ΒΜΙ Calculation</a>
                                   </li>
                                   <li><a href="#settings" data-toggle="tab">Graphs</a>
                                   </li>
                               </ul>

                               <!-- Tab panes -->
                               <div class="tab-content">
                                   <div class="tab-pane fade in active" id="home">
                                       <h4>Patient Profile:</h4>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                   </div>
                                   <div class="tab-pane fade" id="profile">
                                       <h4>Latest Measurements:</h4>
                                       <div class="table-responsive">
                                           <table class="table table-hover">
                                               <thead>
                                                   <tr>
                                                       <!-- <th>Device Id</th> -->
                                                       <th>Device Name</th>
                                                       <th>Type of Measure</th>
                                                       <th>Measure Value</th>
                                                       <th>Last Updated</th>
                                                   </tr>
                                               </thead>
                                               <tbody>
                                                 <% Device.all.each do |dev| %>
                                                   <% dev.measures.each do |measure| %>
                                                     <% @data = @user.measurements.where(:device_id => dev.id, :measure_id => measure.id).order(:created_at => "desc").pluck(:created_at, :measure_value).first %>
                                                     <tr>
                                                       <!-- <td><%=dev.id%></tb>-->
                                                       <td><%=dev.name%></tb>
                                                       <td><%=measure.name%></td>
                                                       <%if @data.nil? %>
                                                         <td>no data</td>
                                                         <td>no data</td>
                                                      <%else%>
                                                       <td><%=@data[1]%></td>
                                                       <td><%=@data[0]%></td>
                                                      <%end%>
                                                      </tr>
                                                    <% end %>
                                                 <% end %>
                                               </tbody>
                                           </table>
                                       </div>

                                   </div>
                                   <div class="tab-pane fade" id="messages">
                                       <h4>Messages Tab</h4>
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                   </div>
                                   <div class="tab-pane fade" id="settings">
                                       <h4>Graphs</h4>

                                       <div class="panel panel-default">
                                                     <div class="panel-heading">
                                                         <i class="fa fa-bar-chart-o fa-fw"></i>History:
                                                         <div class="pull-right">
                                                             <div class="btn-group">
                                                                 <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                                     Actions
                                                                     <span class="caret"></span>
                                                                 </button>
                                                                 <ul class="dropdown-menu pull-right" role="menu">
                                                                     <li><a href="#">Last 7 days</a>
                                                                     </li>
                                                                     <li><a href="#">LaST 30 days</a>
                                                                     </li>
                                                  <li><a href="#">Last 3 months</a>
                                                                     </li>
                                                                     <li class="divider"></li>
                                                                     <li><a href="#">Current Year</a>
                                                                     </li>
                                                                 </ul>
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <!-- /.panel-heading -->

                                                     <div class="panel-body">
                                                      <%= content_tag :div, "", id: "device-area-chart",
                                      :style => "position: relative;height:300px;",
                                       data: {chartdata: 0} %>
                                                  <!-- /.panel-body -->
                                                     </div>

                                              </div>
                                   </div>
                               </div>
                           </div>
                           <!-- /.panel-body -->
                       </div>
                       <!-- /.panel -->
                   </div>
                 </div>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
</div>
