<%= render 'layouts/sidebar_menu' %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Metrics for <%=format_device(@current_device.name)%>:<%=@current_measure.name%></h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>History:
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li >
										  <a href="<%=absolute_url + '/test' %>">7 Last days</a>
                                        </li>
                                        <li>
										  <a href="#"><%=absolute_url %>1 Last Month</a>
                                        </li>
										<li>
										  <a href="#">Last 3 months</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
										  <a href="#">Current Year</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <%= content_tag :div, "", id: "device-area-chart", :style => "position: relative;height:300px;",
			                data: {chartdata: Measurement.chart_data(@data)} %>
                     <!-- /.panel-body -->
                        </div>
                 </div>
               </div>
             </div>
      </div>
        <!-- /#page-wrapper -->
