<%= render 'layouts/sidebar_menu' %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Metrics for <%=format_device(@current_device.name)%>:<%=@current_measure.name%></h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>History: (Default view range is "Last 6 Months")
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Select Data Range
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li >
										                    <!-- <a href="<%=absolute_url + '/test' %>">7 Last days</a> -->
										                      <a id="sevendays" href="javascript:void(null);">Last 7 days</a>
                                        </li>
                                        <li>
										                      <a id="thirtydays" href="javascript:void(null);">Last 30 days</a>
                                        </li>
										                    <li>
										                      <a id="sixmonths" href="javascript:void(null);">Last 6 months</a>
                                        </li>
										                    <li class="divider"></li>
                                        <li>
										                      <a id="c_year" href="javascript:void(null);">Current Year</a>
                                        </li>
										                   <li>
										                     <a id="l_year" href="javascript:void(null);">Last Year</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <%= content_tag :div, "", id: "measure", :style => "position: relative;height:380px;",
			                      data: {chartdataformeasure: Measurement.chart_data(@data)} %>
                     <!-- /.panel-body -->
                        </div>
                 </div>
               </div>
             </div>
      </div>
        <!-- /#page-wrapper -->
