<!DOCTYPE html>
<html>
<head>
  <title>ElTab DataCollector</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%#= stylesheet_link_tag    'application', media: 'all',  'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application',  'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<!--  <body> -->
  <%= flash_messages %>
  <%= yield %>
<!-- </body> -->
<%#= debug @user %>
<div class="footer_page">
  <p>SchemaVersion:<%= ActiveRecord::Migrator.current_version %></p>
</div>
<div class="footer_page"
  <p>AppVersion: 0.1.1</p>
</div>
</html>
