<!DOCTYPE html>
<html>
<head>
  <title>ElTab DataCollector</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%#= stylesheet_link_tag    'application', media: 'all',  'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application',  'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<!--  <body> -->
<body>
<div id="wrapper">
  <%= flash_messages %>
  <%= yield %>
<%#= debug(params) %>
</div>
</body>
<div id="footer_page">
  DebugMode. SchemaVersion:<%= ActiveRecord::Migrator.current_version %>, WebAppVersion: <%=Version.all.first.version%>
</div>
</html>
